body {
	background: #175b89;
}
a {
	color: #051d61
}

:focus { 
    outline: 5px solid orange;
    color: orange;
}

.dirEntry, .dirThumb {
	width: 100%;
}
.dirEntry p {
	width: 100%;
	text-align: center;
}
.dirThumb img {
	width: 100%;
}

.sm2-playlist-wrapper ul {
    max-height: 500px;
    overflow: auto;
}
img.tempcover {
	max-width: 300px;
	padding-bottom: 10px;
}