<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script type="text/javascript" src="/static/js/soundmanager2.js"></script>
	<script src="/static/js/bar-ui.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/bar-ui.css" />
	<link rel="stylesheet" href="/static/css/foundation/foundation.css">
	<link rel="stylesheet" href="/static/css/foundation/app.css">
	<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>

	<div class="grid-container">
      <div class="grid-x grid-padding-x">

			<div class="large-12 cell">
	
				{% if path != "/" and parent %}
				  <p><a id="navigateUp" href="browse?dir={{parent}}"><i class="fas fa-angle-double-left fa-3x"></i></a></p>
				{% else %}
				  <p></p>
				{% endif %}
				
				<!-- SoundManager2 -->
				{% if files %}
				<div id="smplayer_main" class="sm2-bar-ui playlist-open">
				 <div class="bd sm2-main-controls">
				  <div class="sm2-inline-texture"></div>
				  <div class="sm2-inline-gradient"></div>
				  <div class="sm2-inline-element sm2-button-element">
				   <div class="sm2-button-bd">
					<a id="playButton" href="#play"
						class="sm2-inline-button sm2-icon-play-pause">Play / pause</a>
				   </div>
				  </div>
				  <div class="sm2-inline-element sm2-inline-status">
				   <div class="sm2-playlist">
					<div class="sm2-playlist-target">
					 <!-- playlist <ul> + <li> markup will be injected here -->
					 <!-- if you want default / non-JS content, you can put that here. -->
					 <noscript><p>JavaScript is required.</p></noscript>
					</div>
				   </div>
				   <div class="sm2-progress">
					<div class="sm2-row">
					<div class="sm2-inline-time">0:00</div>
					 <div class="sm2-progress-bd">
					  <div class="sm2-progress-track">
					   <div class="sm2-progress-bar"></div>
					   <div class="sm2-progress-ball"><div class="icon-overlay"></div></div>
					  </div>
					 </div>
					 <div class="sm2-inline-duration">0:00</div>
					</div>
				   </div>
				  </div>
				  <div class="sm2-inline-element sm2-button-element sm2-volume">
				   <div class="sm2-button-bd">
					<span class="sm2-inline-button sm2-volume-control volume-shade"></span>
					<a href="#volume" class="sm2-inline-button sm2-volume-control">volume</a>
				   </div>
				  </div>
				  <div class="sm2-inline-element sm2-button-element">
				   <div class="sm2-button-bd">
					<a id="previousButton" href="#prev" title="Previous" class="sm2-inline-button sm2-icon-previous">&lt; previous</a>
				   </div>
				  </div>
				  <div class="sm2-inline-element sm2-button-element">
				   <div class="sm2-button-bd">
					<a id="nextButton" href="#next" title="Next" class="sm2-inline-button sm2-icon-next">&gt; next</a>
				   </div>
				  </div>
				  <div class="sm2-inline-element sm2-button-element sm2-menu">
				   <div class="sm2-button-bd">
					 <a href="#menu" class="sm2-inline-button sm2-icon-menu">menu</a>
				   </div>
				  </div>
				 </div>
				
				 <div class="bd sm2-playlist-drawer sm2-element">
				  <div class="sm2-inline-texture">
				   <div class="sm2-box-shadow"></div>
				  </div>
				
				  <!-- playlist content is mirrored here -->
				
				  <div class="sm2-playlist-wrapper">
					<ul class="sm2-playlist-bd">
					 <!-- standard one-line items -->
					{% for file in files %}
					  <li><a href="play?dir={{path|urlencode}}&file={{file.name|urlencode}}">{{file.name}}</a></li>
					{% endfor %}
					</ul>
				  </div>
				  
				  <div class="sm2-extra-controls">
				   <div class="bd">
					<div class="sm2-inline-element sm2-button-element">
					 <a href="#prev" title="Previous" class="sm2-inline-button sm2-icon-previous">&lt; previous</a>
					</div>
					<div class="sm2-inline-element sm2-button-element">
					 <a href="#next" title="Next" class="sm2-inline-button sm2-icon-next">&gt; next</a>
					</div>
				   </div>
				  </div>
				 </div>
				
				</div>
				<p></p>
				{% endif %}
			</div> <!-- End Cell -->
				
			<!-- Directories -->
			{% for dir in directories %}
			<div class="cell large-2 medium-4 small-6">
				<a class="dirEntry" href="browse?dir={{path|urlencode}}/{{dir.name|urlencode}}">
						{% if dir.thumb %}
						<img border="0" src="thumb?dir={{path|urlencode}}/{{dir.name|urlencode}}&file={{dir.thumb|urlencode}}"/>
						{% else %}
						<img border="0" src="/static/cd.png"/>
						{% endif %}
						<p>{{ dir.name }}</p>
				</a>
			</div> <!-- End Cell -->
			{% endfor %}
			
        
      </div> <!-- End Grid-X -->
    </div> <!-- End Grid Container -->
	

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.hotkeys.js"></script>
    <script src="/static/js/keybindings.js"></script>
    <script src="/static/js/vendor/foundation.js"></script>
    <script src="/static/js/app.js"></script>
    <script>
      $(document).foundation();
      $('a')[0].focus();
    </script>

</body>
</html>
